
        /*Стиль тела сайта*/
        html,
        body {
            background: url(Image/BackGround.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #0d4363;
            margin: 0;
            height: 2500px;


        }


        /*Шапка сайте*/
        div.header {
            position: fixed;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            top: 10px;
            left: 50px;
            right: 50px;
            min-width: 1100px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.38);
            border: 2px solid rgb(46, 151, 171);
            box-sizing: border-box;
            z-index: 1;
        }

                /* Выбор списка в шапке №1*/
        .HeaderForm {
            background-color: rgb(46, 151, 171);
            text-align: center;
            width: 100px;
            padding: 2px;
            border: 2px solid rgb(13, 82, 118);
            border-radius: 10px;
        }

        /* Стиль ссылок */
        a {
            text-decoration: none;
            color: #000000;
            }
        /* Основной блок сайта */
        div.main {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-top: 400px;
            width: 1000px;
            min-width: 1000px;
            height: 2000px;
            background-color: rgba(255, 255, 255, 0.38);
            border: 5px solid rgb(46, 151, 171);
            border-radius: 10px;
            }
            /* Левый основной блок */
        div.mainleft {
            display: block;
            box-sizing: border-box;
            width: 70%;
            min-width: 700px;
            height: 100%;

        }
        /* Общий блок Заголовка и Логотипа */
        div.left1 {
            display: flex;
            box-sizing: border-box;

}


         /* Левый блок с Заголовком */
        div.left2 {
            box-sizing: border-box;
            text-align: center;
            padding: 30px;
            width: 500px;
            height: 250px;
            min-width: 500px;

        }

         /* Правй блок с Логотипом */
        div.right2 {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 250px;
            min-width:200px;

        }

           /* Линия под Заголовком */
        div.line {
            height: 10px;
            margin-left: 100px;
            margin-right: 100px;
            border: 2px solid rgb(46, 101, 171);
            background-color: rgb(46, 151, 171);
            border-radius: 50px;

        }

        /* Содержимое левого основного блока*/
        div.maintext {
            padding: 20px;
            box-sizing: border-box;
            }
         /* Логотип */
        img.L {
            box-sizing: border-box;
            border: 3px solid #000;
            width: 95%;
            max-width: 200px;
            border-radius: 50%;
            box-shadow: 0 0 50px rgba(46, 151, 171, 0.5)
        }


         /* Правый основной блок */
        div.mainright {
            box-sizing: border-box;
            width: 30%;
            min-width: 300px;
            height: 100%;
            border-left: 5px solid rgb(46, 151, 171);
            text-align: center;
                  }

        /* Поле поиска */
        .Search {
            border-color: #2589a2;
            background-color: rgb(46, 151, 171);
            font-style: italic;
            color: #999;
        }


            /* цветная анимация слова Search */
        @keyframes rainbow {
            0% {
                color: pink;
            }
            10% {
            color: red
            }
            20% {
                color: orange;
            }

            30% {
                color: gold;
            }
            40% {
                color: yellow;
            }
            50% {
            color: lime;
            }
            60% {
                color: green;
            }

            70% {
                color: cyan;
            }
            80% {
            color: blue;
            }
            90% {
                color: indigo;
            }

            100% {
                color: violet;
            }
        }

        .rainbow {
            animation: rainbow 10s infinite;
        }


        /*Подвал сайта*/
        div.footer {
            flex: 0 0 auto;
            margin-top: 500px;
            display: flex;
            justify-content: space-around;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.38);
            border-top: 5px solid rgb(46, 151, 171);

        }

