
        body {
            background: url(Image/BackGround.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #0d4363;
            margin: 0;


        }

        /*Стиль тела сайта*/

        div.header {
            position: fixed;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            top: 10px;
            left: 10%;
            right: 10%;
            min-width: 700px;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.38);
            border: 2px solid rgb(46, 151, 171);
            box-sizing: border-box;
            z-index: 1;
        }
        /*Шапка сайте*/

        span.main {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 60%;
        height: 1000px;
        left: 20%;
        right: 20%;
        min-width: 605px;
        border: 5px solid rgb(46, 151, 171);
        line-height: 35px; /* высота строки */
        margin: 0;

        }

        div.mainleft {
            position: relative;
            box-sizing: content-box;
            width: 70%;
            min-width: 300px;
            height: 100%;
            padding-left: 40px;
            padding-right: 40px;
            background-color: rgba(255, 255, 255, 0.38);

        }

        /*Левая основная колонка сайта*/

        div.mainright {
            position: relative;
            box-sizing: content-box;
            width: 30%;
            min-width: 180px;
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
            border-left: 5px solid rgb(46, 151, 171);
            background-color: rgba(255, 255, 255, 0.38);

        }

        /*Правая основная колонка сайта*/

        div.footer {
            position: absolute;
            top: 1900px;
            width: 100%;
            min-width: 1000px;
            height: 100px;
            background-color: rgba(255, 255, 255, 0.38);
            border-top: 5px solid rgb(46, 151, 171);

        }

        /*Подвал сайта*/

        .HeaderForm {
            background-color: rgb(46, 151, 171);
            text-align: center;
            width: 100px;
            padding: 2px;
            border: 2px solid rgb(13, 82, 118);
            border-radius: 10px;
        }

        /* Выбор списка в шапке №1*/

        .logButtonStyleNone {
            text-decoration: none;
            color: #000000;
            padding: 4px;
        }

        /* Удаление нижнего подчеркивания кнопки входа */
        .Search {
            border-color: #2589a2;
            background-color: rgb(46, 151, 171);
            font-style: italic;
            color: #999;
        }
        /* Поле поиска */

        @keyframes rainbow {
            0% {
                color: pink;
            }
            10% {
            color: red
            }
            20% {
                color: orange;
            }

            30% {
                color: gold;
            }
            40% {
                color: yellow;
            }
            50% {
            color: lime;
            }
            60% {
                color: green;
            }

            70% {
                color: cyan;
            }
            80% {
            color: blue;
            }
            90% {
                color: indigo;
            }

            100% {
                color: violet;
            }
        }

        .rainbow {
            animation: rainbow 10s infinite;
        }
            /* цветная анимация слова Search */
