.button
    display: block
    padding: 12px 25px
    background: $main-color-1
    color: #000
    font-size: 14px
    font-weight: 700
    text-align: center
    border: none
    transition: 0.3s all
    &:hover
        color: #000
        text-decoration: none
        box-shadow: inset 0px 0px 5px #000
